@import "https://fonts.googleapis.com/css?family=Prompt";
* {
	margin: 0;
}
html, body {
	font-family: 'Prompt',Tahoma, Arial, Helvetica, Sans-Serif;		
	background-color: #fcfcfc;
    height: 100%;
}
.modal-open {
  overflow-y: auto;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0px; /* the bottom margin is the negative value of the footer's height */
}
.hr_title {
    border-bottom: 2px solid #e6e9ed;
    padding: 1px 5px 5px;
}
.font-label {
    font-size: 14px;
}
.font-40-bold {
  font-size: 40px;
  font-weight: bold; 
}
.required:after {
  content: " *";
  position: absolute;
  top: 10px;
  right: 5px;
  color: red;
  font-size: 18px;
}
label.error {  
    color:red;
    font-size:small;
}
/*#########Loading#########*/
#preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color:#f7f7f7;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";       /* IE 8 */
   filter: alpha(opacity=70);  /* IE 5-7 */
   -moz-opacity: 0.7;          /* Netscape */
   -khtml-opacity: 0.7;        /* Safari 1.x */
   opacity: 0.7;               /* Good browsers */	   
   z-index: 10000; 
}
#status {
   width: 30px;
   height: 30px;
   position: absolute;
   left: 50%; 
   top: 50%;
   margin: -15px 0 0 -15px;
   font-size: 32px;
}
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
/*#########################*/
/*#########Padding#########*/
.padding-5{
	padding:5px;
}
.padding-top-5{
	padding-top:5px
}
.padding-top-10{
	padding-top:10px;
}
.padding-bottom-10{
	padding-bottom:10px !important;
}
.padding-left-20{
	padding-left:20px !important;
}
.padding-left-30{
	padding-left:30px !important;
}
.padding-right-30{
	padding-right:30px !important;
}
.clear-border{
	margin-top:0px !important;
	padding-top:0px !important;
	margin-bottom:0px !important;
	padding-bottom:0px !important;	
}
/*#########################*/
/*#########Button#########*/
.btn-circle {
    font-size: 14px;
    width: 85px;
    height: 85px;
    padding: 7px 0;
	background-color: #848aac;
    border-radius: 50px;
    text-align: center;
    line-height: 1.45;
}
.btn-circle:hover, .btn-circle:focus, .btn-circle:active, .btn-circle.active, .open>.dropdown-toggle.btn-circle {
    color: #fff;
    background-color: #949abc;
    border-color: #ededed; /*set the color you want here*/
}
.btn-circle-min{
    width: 38px;
    height: 38px;
    padding: 6px 0px;
    border-radius: 22px;
    text-align: center;
    font-size: 14px;
    line-height: 2;
	background-color: #737896;
}
.icon-btn-circle{
	color:#fefefe !important;
}
.font-btn-12
{
	color:#ffffff;
	font-size:12px;
}
.padding-btn{
	display: inline-block;
	padding-top:5px !important;
	padding-left:25px !important;
}
/*#########################*/
/*#######Navbar Style#######*/
.effectnav{
    background-color: #489ae8;	
	margin-bottom: 0;
	border:0px;
}
.navbar-top-links {
    margin-right: 0;    
}
.navbar-top-links .dropdown-menu
{
	background-color: #489ae8;
}
.navbar-top-links li {
    display: inline-block;	
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}
.navbar-top-links li a {
	padding-top: 15px;
	padding-right: 5px;
	padding-left: 5px;
    padding-bottom: 2px;
    min-height: 35px;
	line-height: 32px; /*full height a hover*/
}
.navbar-top-links .dropdown-menu li {
    display: block;
	min-width:175px;
	font-size:13px;
}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
	color:#ffffff;
}
.navbar-top-links .dropdown-menu li a:hover {
	background-color: #0070c0;
}
.nav .open > a,
.navbar-top-links > .active a:focus ,
.navbar-top-links > .active a:hover,
.navbar-top-links .dropdown-menu li a:focus ,
.navbar-top-links .dropdown-menu li a:hover,
.navbar-top-links li a:focus ,
.navbar-top-links li a:hover {
	background-color: #0070c0;
}
.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
.dropdown-menu {
	right: 0; 
	left: auto;
}
.font-navbar {
	font-size:14px;
	color:#ffffff;	
}
/*##########################*/
/*######Breadcrumb######*/
.breadcrumb {
	padding:0px;
	margin:0;
    background-color: transparent;
}
.breadcrumb li {
	color:#000;
	font-size: 14px;	
}
.breadcrumb li a:hover {	
	text-decoration: none;		
}
/*#####################*/
/*##########Panel##########*/
.font-panel-login-head{
	color:#111111;
	font-size:22px;
	font-weight:bold;
}
label.signin{
	color:#808080;
	font-size:13px;	
	font-weight:bold;
}
.panel-login {
    margin-top: 15%;
	border-color: 1px solid #bbd3ea;	
	background-color: #ffffff;
	-webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;	
}
.panel-min-bg{
	background-color:#fdfcfa;
}
/*##########################*/
/*#######DataTable#######*/
table.dataTable thead tr {
	background-color: #eaeaea;
}
div.dataTables_wrapper div.dataTables_paginate{
	margin-top:10px !important;
}
/*####################*/
/*##########Modal##########*/
.font-modal-title {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
.font-modal-content {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
}
/*##########################*/
