@import "https://fonts.googleapis.com/css?family=Prompt";
* {
	margin: 0;
}
html, body {
	font-family: 'Prompt',Tahoma, Arial, Helvetica, Sans-Serif;		
	background-color: #fcfcfc;
    height: 100%;
}
.modal-open {
  overflow-y: auto;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -25px; /* the bottom margin is the negative value of the footer's height */
}
.font-pag{
	color:#444444;
	font-size:18px;
	font-weight:bold;	
}
/*#########Padding#########*/
.padding-5{
	padding:5px;
}
.padding-top-10{
	padding-top:10px;
}
/*#########################*/
/*#######Navbar Style#######*/
.font-navbar {
	font-size:14px;
	color:#ffffff;	
}
.effectnav{
    background-color: #489ae8;	
	margin-bottom: 0;
	border:0px;
}
.navbar-top-links {
    margin-right: 0;    
}
.navbar-top-links .dropdown-menu
{
	background-color: #489ae8;
}
.navbar-top-links li {
    display: inline-block;	
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}
.navbar-top-links li a {
	padding-top: 15px;
	padding-right: 5px;
	padding-left: 5px;
    padding-bottom: 2px;
    min-height: 35px;
	line-height: 30px; /*full height a hover*/
}
.navbar-top-links .dropdown-menu li {
    display: block;
	min-width:175px;
	font-size:13px;
}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
	color:#ffffff;
}
.navbar-top-links .dropdown-menu li a:hover {
	background-color: #0070c0;
}
.nav .open > a,
.navbar-top-links > .active a:focus ,
.navbar-top-links > .active a:hover,
.navbar-top-links .dropdown-menu li a:focus ,
.navbar-top-links .dropdown-menu li a:hover,
.navbar-top-links li a:focus ,
.navbar-top-links li a:hover {
	background-color: #0070c0;
}
.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
/*##########################*/
/*#######Flex Style#########*/
.athumbnail:link{
	text-decoration: none;	
}
.athumbnail:visited{	
	text-decoration: none;	
}
.athumbnail:hover{
	text-decoration: none;	
}
.athumbnail:active{
	text-decoration: none;	
}
.thumbnail:hover{
   background-color:#f5f5f5;
   box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
   cursor:pointer;
}
.flex-row .thumbnail,.flex-row .caption 
{
  flex:1 0 auto;
  flex-direction:column;
}
.flex-text {
  flex-grow:1
}
.flex-row img {
  height:150px;
  width:100%
}
.font-flexhead
{
	color:#132752;
	font-weight: bold;	
	font-size:14px;	
}
.font-flexdetail
{
	color:#465c7b;	
	font-size:12px;	
}
.font-flexmin
{
	color:#666666;	
	font-size:12px;	
}
.font-flexowner
{
	color:#999999;	
	font-size:12px;
	text-align:right;
}
*.icon-orange {color: orange}
/*##########################*/
/*##########Footer##########*/
.footer, .push {
  height: 25px; /* .push must be the same height as .footer */
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.push {
  background-color: #fcfcfc;
}
.font-footer {
  color: #acacac !important;
  font-size: 12px;
}
/*#########################*/
/*/////////////////////////////////////////Device//////////////////////////////*/
/* Large Devices, Wide Screens */
@media(max-width : 1200px) 
{

}
/* Small Devices, Tablets */
@media(max-width : 768px) 
{

}
/* Extra Small Devices */ 
@media (min-width : 481px) and (max-width : 767px) 
{
	#search-control
	{
		padding-top:5px !important;		
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 481px) 
{
	#ddnav
	{
		text-align:right;
		margin-top:0 !important;
		padding-top:0 !important;
		margin-bottom:0 !important;
		padding-bottom:0 !important;			
	}
   .flex-row.row {
	 display: flex;
	 flex-wrap: wrap;
   }
   .flex-row.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
   }
  .flex-row.row:after, 
  .flex-row.row:before {
	 display: flex;
  }	
}
@media screen and (max-width : 480px) 
{
	#brand
	{
		text-align:center;
	}
	#ddnav
	{
		text-align:right;
		margin-top:0 !important;
		padding-top:0 !important;
		margin-bottom:0 !important;
		padding-bottom:0 !important;			
	}
	#search-control
	{
		padding-top:5px !important;		
	}	
}
/* Extra Small Devices, Phones */ 
@media (min-width : 321px) and (max-width : 479px) 
{
	#brand
	{
		text-align:center;
	}
	#ddnav
	{
		text-align:right;
		margin-top:0 !important;
		padding-top:0 !important;
		margin-bottom:0 !important;
		padding-bottom:0 !important;			
	}
	#search-control
	{
		padding-top:5px !important;		
	}	
}
/* Custom, iPhone Retina */ 
@media(max-width : 320px) 
{
	#brand
	{
		text-align:center;
	}
	#ddnav
	{
		text-align:right;
		margin-top:0 !important;
		padding-top:0 !important;
		margin-bottom:0 !important;
		padding-bottom:0 !important;			
	}
	#search-control
	{
		padding-top:5px !important;		
	}
}
/*////////////////////////////////////////////////////////////////////////////*/